// mat-toolbar {
//     color: white;
//     height: 45px;
//     background: #350d36;
//     box-shadow: 0 1px 0 0 rgb(255 255 255 / 10%);
// }
.example-spacer {
    flex: 1 1 auto;
}

mat-toolbar {
    color: white;
    height: 45px;
    background: #350d36 !important;
    justify-content: space-between;
}

.content {
    padding: 32px;
}

.profile-image-toolbar {
    border-radius: 100%;
    margin-right: 8px;
}