<mat-toolbar class="mat-elevation-z8">
    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>  
  </button> Sani Slack Clone
    <span class="example-spacer"></span>
    <!-- <mat-icon>account_circle</mat-icon>
    <span>My Account</span> -->
    <mat-icon title="Logout">exit_to_app</mat-icon>
</mat-toolbar>


<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <button mat-button class="menu-button">
            <span>Developer Akademie</span>
          </button>
        <mat-divider></mat-divider>

        <button (click)="openDialog()" mat-button class="menu-button">
      <mat-icon>home</mat-icon>
      <span>Channels</span>
      <button mat-icon-button ><mat-icon>add</mat-icon></button>
        </button>
        <div class="channels">
            <button mat-button routerLink="#"># Allgemein</button>
            <button mat-button># Angular</button>
            <button mat-button># Javascript</button>
        </div>
        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
      <mat-icon>person</mat-icon>
      <span>Users</span>
    </button>
        <div class="channels">
            <button mat-button routerLink="#"># Sani</button>
            <button mat-button># Mihai</button>
            <button mat-button># Alex</button>
        </div>
        <mat-divider></mat-divider>

        <button mat-button class="menu-button">
      <mat-icon>info</mat-icon>
      <button mat-button routerLink="#">About</button>
        </button>
        <button mat-button class="menu-button">
      <mat-icon>help</mat-icon>
      <button mat-button routerLink="#">Help</button>
        </button>

    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content mat-elevation-z8">
            <router-outlet></router-outlet>
            <p>Router Outlet Platz von den Channels</p>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>