.messageContainer {
    // position: relative;
    display: flex;
    margin-bottom: 8px;
    margin-top: 8px;
    background-color: #FFFFFF;
    &:hover {
        background-color: #F8F8F8;
    }
}

.sender {
    padding-left: 16px;
    padding-right: 16px;
}

.messageContent {
    display: flex;
    flex-direction: column;
    overflow-wrap: anywhere;
}

.btn {
    color: #1164A3;
    cursor: pointer;
    border: none;
    background-color: transparent;
}

.cke {
    ckeditor {
        position: absolute;
        bottom: 0;
        right: 0;
        left: 0;
    }
}

.icon {
    position: absolute;
    bottom: 34px;
    right: 35px;
    background: #007a5a;
    color: #fff;
    width: 53px;
    text-align: center;
    padding: 1px;
    border-radius: 8px;
}

.icon2 {
    position: absolute;
    bottom: 34px;
    right: 35px;
}