<app-toolbar [sidenav]="sidenav"></app-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
        <!-- Left Sidenav -->
        <app-left-side></app-left-side>
    </mat-sidenav>

    <mat-sidenav-content>
        <!-- // COntent Chat -->

        <app-main [sidenavR]="sidenavR">

        </app-main>

    </mat-sidenav-content>

    <mat-sidenav class="sideNavR" style="width: 300px; background-color: white; color: black;" #sidenavR="matSidenav" opened mode="side" position="end">
        <!-- // Right Sidenav -->
        <app-right-side>

        </app-right-side>
    </mat-sidenav>

</mat-sidenav-container>