<div class="messageContainer" *ngFor="let message of threadsArray">
    <div class="messageData">
        <span class="sender">
           {{message.username}}  
        </span>
        <span class="timestamp">
            {{message.id}}
        </span>
    </div>
    <div class="messageContent">
        {{message.textMessage}}
    </div>
    ------------------------------
    <div>
        <ckeditor [(ngModel)]="textValue" [editor]="editor">
        </ckeditor>
        <mat-icon (click)="sendMessage() " title="Send">send</mat-icon>
    </div>

</div>



<div class="messageContainer" *ngFor="let messa of threadArray">
    <div class="messageData">
        <span class="sender">
           {{messa.username}}  
        </span>
        <span class="timestamp">
            {{messa.id}}
        </span>
    </div>
    <div class="messageContent">
        {{messa.textMessage}}
    </div>
</div>