<div class="messageContainer">
    <div class="messageData">
        <span class="sender">
            <img style="width: 30px;" src="assets/1.webp" alt="">           
        </span>

    </div>
    <div class="messageContent">
        <div style="padding-bottom: 4px;"><b>  {{dataServ.currentMessage?.username}} </b> </div>
        <div style="padding-right: 8px; max-width: 95%; padding-bottom: 8px;">
            {{dataServ.currentMessage?.textMessage}}
        </div>
    </div>
</div>

<div class="messageContainer" *ngFor="let message of threadArray">
    <div class="messageData">
        <span class="sender">
            <img style="width: 30px;" src="assets/1.webp" alt="">           
        </span>
    </div>
    <div class="messageContent">
        <div style="padding-bottom: 4px;"><b>{{message.username }}</b> </div>
        <div style="padding-right: 8px; max-width: 95%; padding-bottom: 8px;">
            {{message.textMessage}}
        </div>
    </div>
</div>

<div class="cke">
    <ckeditor (change)="onChange($event)" ng-minlength="1" [(ngModel)]="textValue" [editor]="editor">
    </ckeditor>
    <mat-icon [ngClass]="iconChangeColor ? 'icon' : 'icon2' " (click)="sendMessage()" title="send">send</mat-icon>
</div>