<button mat-button class="menu-button">
    <span>Developer Akademie</span>
</button>
<mat-divider></mat-divider>

<button (click)="openDialog()" mat-button class="menu-button">

<mat-icon>home</mat-icon>
<span>Channels</span>
<button mat-icon-button><mat-icon>add</mat-icon></button>
</button>
<div class="channels" *ngFor="let channel of channelsArray">
    <button mat-button [routerLink]="'/channel/' + channel.id"># {{ channel.channelName }}</button>
    <!-- <button mat-button [routerLink]="[{ outlets: { primary: ['channel/:id'],thread:['thread']}}]">#  {{channel.channelName}} </button> -->

</div>
<mat-divider></mat-divider>

<button mat-button class=" menu-button ">
<mat-icon>person</mat-icon>
<span>Users</span>
</button>
<div class="channels ">
    <button mat-button [routerLink]="'/direct-messages'"># Sani</button>
    <!-- <button mat-button [routerLink]="[{ outlets: { primary: ['direct-messages'],thread:['thread'] } }]"># Sani</button> -->
    <button mat-button># Mihai</button>
    <button mat-button># Alex</button>
</div>
<!-- <mat-divider></mat-divider> -->
<button mat-button class="menu-button ">
<mat-icon>info</mat-icon>
<button mat-button routerLink="# ">About</button>
</button>
<button mat-button class="menu-button ">
<mat-icon>help</mat-icon>
<button mat-button routerLink="# ">Help</button>
</button>