<div class="title">
    <span>
    Developer Akademie
   </span>
</div>

<button (click)="openDialog()" mat-button class="menu-button1">
<mat-icon>home</mat-icon>
<span>Channels <button style="position: absolute; right: 0;" mat-icon-button><mat-icon>add</mat-icon></button></span>
</button>
<div (click)="service.giveChatName(channel.channelName)" class="channels" *ngFor="let channel of channelsArray">
    <button mat-button class="menu-button" [routerLink]="'/channel/' + channel.id"># {{ channel.channelName }}</button>
</div>
<mat-divider></mat-divider>

<button mat-button class="menu-button">
<mat-icon>person</mat-icon>
<span>Users</span>
</button>
<div class="channels ">
    <button *ngFor="let user of usersArray" mat-button [routerLink]="'/direct-messages'" class="menu-button">
     <div class="sender">
        <img style="width: 30px;" src="assets/1.webp" alt="">  
       {{user.displayName}} 
       <span class="status">
    </span>    
      </div>
    </button>
    <!-- <button mat-button [routerLink]="[{ outlets: { primary: ['direct-messages'],thread:['thread'] } }]"># Sani</button> -->
</div>
<!-- <mat-divider></mat-divider> -->
<button mat-button class="menu-button ">
<mat-icon>info</mat-icon>
<button mat-button routerLink="# ">About</button>
</button>
<button mat-button class="menu-button ">
<mat-icon>help</mat-icon>
<button mat-button routerLink="# ">Help</button>
</button>